.home {
    .main-title {
      text-align: center;
      font-size: 2em;
      color: white;
      padding: 0;
      background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
      margin-bottom: 10px;
      backdrop-filter: blur(5px); /* Efecto de desenfoque */
      border-radius: 40px; /* Bordes redondeados */
    }
  }  

.sub-title {
    font-size: 15px; /* Tamaño de letra del h2 más pequeño */
    text-align: center;
    color: white;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
  }


.home-box {
    padding: 0;
    overflow: hidden;

    .post-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px; /* Espacio antes de la línea */
        border-bottom: 3px solid $header-color; /* Línea divisoria completa */
        //margin-bottom: 100px; /* Espacio entre proyectos */
    }

    .post-link {
        color: inherit;
        display: block;
        border-radius: 40px;
        padding: $spacing-unit;
        transition: .3s background-color;

        &:hover {
            text-decoration: none;
            background-color: $header-color;
        }

        h3 {
            margin: 0;
        }
    }
}

